@charset "utf-8";

$footer-background-color: #3359a0;

@import 'bulma/bulma.sass';

.hero--custom--overlay:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  z-index:0;
  background-color: rgba(51,89,160,0.4);
}