@charset "utf-8";

@import 'bulma/bulma.sass';

@font-face {
  font-family: "Aller";
  src: url("assets/fonts/Aller_Rg.ttf");
  }
  
body {
  font-family: "Aller"
}

.cube {
  background-image: url('./assets/img/cube.png');
  background-size: cover;
  width: 20px;
  height: 20px;
  display: block;
  margin: 3px 10px;
  float: left;
}
