@charset "utf-8";

$footer-background-color: #3359a0;

@import 'bulma/bulma.sass';

@font-face {
  font-family: "Aller";
  src: url("assets/fonts/Aller_Rg.ttf");
  }
  
body {
  font-family: "Aller"
}

.regular--font {
  font-style: normal;
}